/*
   Mounika,Eluri   Account:  jadrn034
        CS645, Spring 2016
        Project #2
*/

body{
    text-align:center;
    font-size:x-large; 
}

h2{
    color:green;
      
}

a{
    color:blue;
}
